<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="author" content="Neil Gaietto">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Neil Gaietto - A Web Developer - @ViewBag.Title</title>
</head>

<body>

    <div class="column-nav">
        <header class="header">
            <a class="site-logo" href="@Url.Action("", "Home")"><span class="first-name">Neil</span><br />
                <span class="last-name">Gaietto</span></a>
        </header>
        <div class="tagline">A Web Developer</div>
        <ul class="social">
            <li class="twitter"><a href="https://twitter.com/neilgaietto" title="Twitter"></a></li>
            <li class="linkedin"><a href="https://www.linkedin.com/in/neilgaietto" title="LinkedIn"></a></li>
            <li class="googleplus"><a href="https://plus.google.com/u/0/110811067270088539491" title="Google+"></a></li>
            <li class="github"><a href="https://github.com/neilgaietto" title="GitHub"></a></li>
        </ul>
        <nav class="main nav">
            @*<div class="legend">Nav</div>*@
            <ul>
                @*<li>@Html.ActionLink("home", "", "Home")</li>*@
                <li>@Html.ActionLink("about", "", "About")</li>
                <li>@Html.ActionLink("work", "", "Work")</li>
                <li>@Html.ActionLink("contact", "", "Contact")</li>
                @*<li>@Html.ActionLink("blog", "", "Blog")</li>*@
            </ul>
        </nav>
@*        <hr />
        <div class="posts nav">
            <div class="legend">Recent Posts</div>
            <ul>
                <li>@Html.ActionLink("welcome", "Welcome", "Blog")</li>
                <li>@Html.ActionLink("test post 1", "Test Post 1", "Blog")</li>
                <li>@Html.ActionLink("hello world", "Hello World", "Blog")</li>
            </ul>
        </div>*@


    </div>
    <div class="column-content">
        <h1 class="page-title">@ViewBag.Header</h1>
        <div class="content">
            @RenderBody()
        </div>
    </div>
@*    <footer class="footer">
        <span class="copyright">&copy;@DateTime.Now.Year</span> <a href="javascript:;">Neil Gaietto</a>. All Rights Reserved. <a href="https://github.com/neilgaietto/Neil-Gaietto-Portfolio">Source</a>
    </footer>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-29368003-1']);
        _gaq.push(['_setDomainName', 'neilgaietto.com']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
