<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>@ViewBag.Title</title>
</head>

<body>
    
        <div class="column-nav">
            <header class="header">
                <a class="site-logo" href="@Url.Action("", "Home")"><span class="first-name">Neil</span><br />
                    <span class="last-name">Gaietto</span></a>
            </header>
            <nav class="main nav">
                <div class="legend">Nav</div>
                <ul>
                    <li>@Html.ActionLink("Home", "", "Home")</li>
                    <li>@Html.ActionLink("About", "", "About")</li>
                    <li>@Html.ActionLink("Work", "", "Work")</li>
                    <li>@Html.ActionLink("Contact", "", "Contact")</li>
                    <li>@Html.ActionLink("Blog", "", "Blog")</li>
                </ul>
            </nav>
            <hr />
            <div class="posts nav">
                <div class="legend">Recent Posts</div>
                <ul>
                    <li>@Html.ActionLink("Welcome", "Welcome", "Blog")</li>
                    <li>@Html.ActionLink("Test Post 1", "Test Post 1", "Blog")</li>
                    <li>@Html.ActionLink("Hello World", "Hello World", "Blog")</li>
                </ul>
            </div>
            <ul class="social">
                <li class="twitter"><a href="https://twitter.com/neilgaietto" title="Twitter"></a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/in/neilgaietto" title="LinkedIn"></a></li>
                <li class="google"><a href="https://plus.google.com/u/0/110811067270088539491" title="Google+"></a></li>
            </ul>
            <footer class="footer">


                <span class="copyright">&copy;@DateTime.Now.Year</span> <a href="javascript:;">Neil Gaietto</a>. All Rights Reserved. <a href="https://github.com/neilgaietto/Neil-Gaietto-Portfolio">Source</a>
            </footer>
        </div>
        <div class="column-content">
            <h1 class="page-title">@ViewBag.Title</h1>
            <div class="content">
                @RenderBody()
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    
</body>
</html>
