@model NeilGaiettoCom.Models.ContactForm
@{
    ViewBag.Title = "contact";
}
<div>
    <fieldset>
        <legend>Or this form below</legend>
        @using (Html.BeginForm())
        {
            <div>@Html.LabelFor(f => f.FullName)<br />@Html.TextBoxFor(model => model.FullName)
            </div>
            <div>@Html.LabelFor(f => f.Email)<br />@Html.TextBoxFor(model => model.Email)
            </div>
            <div>@Html.LabelFor(f => f.Message)<br />@Html.TextAreaFor(model => model.Message)
            </div>
            <div>
                <a href="javascript:;" class="FormSubmitButton">Send</a>
            </div>
        }
    </fieldset>
</div>

